<h1 class="text-center">Buy Stocks</h1>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>
<form class="container" ng-hide="vm.message" name="buy" ng-submit="vm.buy()">
  <div class="form-group">
    <label for="symbol">Symbol</label>
    <input type="text" class="form-control" id="symbol" placeholder="Symbol" ng-model="vm.symbol" autocapitalize="none" ng-keyup="vm.capitalize()">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" placeholder="amount" ng-model="vm.amount">
  </div>
  <button type="submit" class="btn btn-success">Buy</button>
</form>
</div>