<h1 class="text-center">Find Stocks</h1>
<div ng-if="vm.message" class="alert alert-success" role="alert">
  <p>{{ vm.message }}</p>
</div>
<div ng-if="vm.error" class="alert alert-danger" role="alert">
  {{ vm.error }}
</div>
<form class="container" ng-hide="vm.message" name="find" ng-submit="vm.find()">
  <div class="form-group">
    <label for="symbol">Symbol</label>
    <input type="text" class="form-control" id="symbol" placeholder="Symbol" ng-model="vm.symbol" autocapitalize="none" ng-keyup="vm.capitalize()">
  </div>
  <button type="submit" class="btn btn-success">find</button>
  
  <div>
    <p>{{vm.symbol}} is currently priced at {{vm.stockprice | currency}}</p>
  </div>
</form>